{% extends 'base.html.twig' %}

{% block title %}
    Bureau Profiel - Home
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const FORM_DATA = {
            pages: [
                {
                    fields: [
                        {
                            label: 'Voornaam',
                            type: 'text',
                            placeholder: 'Voornaam...',
                            classname: 'register-firstname',
                            required: true,
                            fullwidth: false
                        },
                        {
                            label: 'Achternaam',
                            type: 'text',
                            placeholder: 'Achternaam...',
                            classname: 'register-surname',
                            required: true,
                            fullwidth: false
                        },
                        {
                            label: 'Jouw e-mailadres',
                            type: 'email',
                            placeholder: 'E-mailadres...',
                            classname: 'register-email',
                            required: true,
                            fullwidth: true
                        },
                        {
                            label: 'Geslacht',
                            type: 'choice',
                            classname: 'register-gender register-onechoice',
                            choices: [
                                {
                                    id: 'gender-male',
                                    value: 'male',
                                    name: 'register-gender',
                                    label: 'Man'
                                },
                                {
                                    id: 'gender-female',
                                    value: 'woman',
                                    name: 'register-gender',
                                    label: 'Vrouw'
                                },
                                {
                                    id: 'gender-different',
                                    value: 'different',
                                    name: 'register-gender',
                                    label: 'Anders'
                                },
                            ],
                            required: true,
                            fullwidth: true
                        },
                        {
                            label: 'Geboortedatum',
                            type: 'date',
                            classname: 'register-birthdate',
                            required: true,
                            fullwidth: false
                        },
                        {
                            label: 'Heb je al eerder meegewerkt aan marktonderzoeken bij Bureau Profiel?',
                            type: 'choice',
                            classname: 'register-participated register-onechoice',
                            choices: [
                                {
                                    id: 'participated-yes',
                                    value: 'no',
                                    name: 'register-participated',
                                    label: 'Ja'
                                },
                                {
                                    id: 'participated-no',
                                    value: 'yes',
                                    name: 'register-participated',
                                    label: 'Nee'
                                },
                            ],
                            required: true,
                            fullwidth: true
                        },
                    ]
                },
                {
                    fields: [
                        {
                            label: 'Achternaam',
                            type: 'text',
                            placeholder: 'Voornaam...',
                            classname: 'register-firstname',
                            fullwidth: false
                        },
                    ]
                }
            ]
        }
    </script>
{% endblock %}

{% block main %}
    <div>
        <div class="register">
            <div class="register-form">
                <div class="register-title">
                    <h3>Vul hier je gegevens in</h3>
                    <p>En start met verdienen</p>
                </div>
                <div class="register-progress">

                </div>

                <div class="register-pages">

                </div>

                <button class="register-submit">Volgende stap</button>
            </div>

            <script src="{{ asset('js/register.js') }}"></script>
        </div>

    </div>
{% endblock %}
