{% extends 'base.html.twig' %}

{% block title %}
    Respondenten - Bureau Profiel
{% endblock %}

{% block main %}
    <div class="respondent">
        <section class="respondent-how-block split">
            <div class="respondent-how-block-text">
                <h3 class="blue-grotesk">RESPONDENT ZIJN</h3>
                <h2 class="black-grostesk">Hoe werkt dat...</h2>
                <p class="black-karla black-karla-bold">
                    Onze opdrachtgever houdt onder de doelgroep een kwalitatief marktonderzoek. 
                    Dit gebeurt over het algemeen bij een marktonderzoekbureau in Amsterdam. Zo’n onderzoek 
                    gebeurt in de vorm van een interview of een groepsdiscussie en de duur kan variëren van 
                    15 minuten tot maximaal 3 uur.</p>
                    <p class="black-karla" id="spacing">
                    Wij hebben diverse doelgroepen in ons bestand en als er een onderzoek is waar uw 
                    profiel bij past dan bellen of mailen wij u voor een afspraak. U bent uiteraard niets verplicht. 
                    Als het u niet uitkomt, dan proberen wij het gewoon een volgende keer opnieuw. Kunt u wel, 
                    dan wordt u uitgenodigd voor een gesprek bij onze opdrachtgever te Amsterdam. 
                    Dit kan zowel overdag als ’s avonds zijn. Na het maken van de afspraak rekenen wij natuurlijk wel op u!
                </p>
            </div>
            <div class="respondent-how-block-img">
                <img src="{{ asset('images/respondentzijn-bureauprofiel-respondenten.jpg') }}" >
            </div>
        </section>
        
        <section class="respondent-why-block">
            <div class="respondent-why-block-img"></div>
            <div class="respondent-why-block-text"></div>
        </section>

        <section class="respondent-cash-block">
            <div class="respondent-cash-block-text"></div>
            <div class="respondent-cash-block-img">
                <div class="img"></div>
                <div class="img"></div>
                <div class="img"></div>
            </div>
        </section>

        <section class="respondent-company-block">
            <div class="respondent-company-block-img"></div>
            <div class="respondent-company-block-text"></div>
        </section>

        <section class="respondent-trust-block">
            <div class="respondent-trust-block-img"></div>
            <div class="respondent-trust-block-text"></div>
        </section>

        <section class="respondent-why-block">
            <div class="respondent-why-block-img"></div>
        </section>
    </div>
{% endblock %}
