@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

img {
  width: 100%;
}

.admin-notice {
  max-width: 300px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #6ec5ed;
  text-align: center;
  z-index: 2000;
}

.admin-notice div p {
  width: calc(100% - 35px);
  font-family: "Space Grotesk", sans-serif;
  font-weight: 800;
  color: white;
  margin: 0;
  padding: 5px 0;
  height: 35px;
}

.admin-notice div {
  display: flex;
}

.admin-notice div button {
  position: relative;
  width: 35px;
  height: 35px;
  border: 0;
  background: #ea5b3f;
  color: white;
  fill: white;
  outline: none;
  cursor: pointer;

  display: flex;
  justify-items: center;
  justify-content: center;
}

.admin-notice button svg {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.admin-notice a {
  display: block;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  background: #ea5b3f;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  text-decoration: none;
}

.admin-notice a:hover {
  text-decoration: none;
  color: white;
}

.black-grostesk {
  color: #181818 !important;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
}

.white-grostesk {
  color: #fff !important;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
}

.black-karla {
  color: #181818 !important;
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}
.black-karla-light {
  font-weight: 400;
}
.black-karla-bold {
  font-weight: 700;
}

.white-karla {
  color: #fff !important;
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}
.white-karla-bold {
  font-weight: 700;
}

.orange-grostesk {
  color: #ea5b3f !important;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.blue-grotesk {
  color: #6ec5ed !important;
  font-family: "Space Grotesk";
  font-weight: 500;
  font-size: clamp(17px, 5vw, 20px);
}

.orange-title {
  color: #ea5b3f !important;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: clamp(18px, 3vw, 20px);
}

@media only screen and (max-width: 900px) {
  .admin-notice {
    max-width: 100%;
  }
}
