.intro-block {
  //   min-height: 94rem;
  position: relative;
  height: 75rem;
  padding: 5rem 5vw;
  @media (min-width: 40em) {
    background-color: #ece9e958;
    padding: 10rem 5vw;
  }

  &-text {
    width: 100%;
    max-width: 69rem;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 99;
    &:after {
    }

    h2 {
      font-family: "Space Grotesk", sans-serif;
      //   font-size: 9.5rem;
      font-size: clamp(5rem, 5vw, 9.5rem);
      font-weight: 500;
      @media (min-width: 40em) {
        margin-bottom: 1.5rem;
      }
      span {
        font-weight: 700;
      }
      .bgline-1 {
        background-image: url(../images/streep-mening.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      .bgline-2 {
        background-image: url(../images/streep-cash.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    h3 {
      font-family: "Karla";
      font-weight: 700;
      font-size: 3.2rem;
      font-size: clamp(2rem, 5vw, 3.2rem);
      color: #6ec5ed;
      margin-bottom: 2rem;
      @media (min-width: 40em) {
        margin-bottom: 4.5rem;
      }
    }
  }
  &-points {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    p {
      font-family: "Karla";
      font-weight: 500;
      font-size: 1.8rem;
      position: relative;
      margin-left: 3.5rem;
      @media (min-width: 40em) {
        margin-bottom: 0 !important;
        width: calc(100% / 2 - 3.5rem);
      }
      &::before {
        content: " ";
        position: absolute;
        left: -3rem;
        top: 0.9rem;
        background-image: url(../images/bulletpoint-black.svg);
        background-size: 100% 100%;
        height: 1rem;
        width: 1rem;
      }
    }
  }
  &-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    @media (min-width: 40em) {
      margin-top: 6rem;
    }
    button {
      background-color: #ea5b3f;
      padding-inline: 1rem;
      font-size: 2.5rem;
      color: #fff;
      border: none;

      max-width: 32.5rem;
      height: 4rem;
      font-family: "Space Grotesk";
    }
    a {
      color: #ea5b3f !important;
      font-family: "Space Grotesk";
      font-weight: 600;
      font-size: 2.5rem;
      @media (min-width: 40em) {
        margin-left: 5rem;
      }
    }
  }
  &-girl {
    width: auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: -5rem;
    // @media (min-width: 40em) {
    //   bottom: unset;
    //   top: -7rem;
    // }
    @media (min-width: 1025px) and (max-width: 1200px) {
    }
    @media (min-width: 769px) and (max-width: 1024px) {
      bottom: -11rem;
    }
    @media (min-width: 0px) and (max-width: 768px) {
    }
    img {
      margin-left: 40%;
      max-height: 950px;
      @media (min-width: 1025px) and (max-width: 1200px) {
        height: 800px;
      }
      @media (min-width: 769px) and (max-width: 1024px) {
        height: 600px;
      }
      @media (min-width: 0px) and (max-width: 768px) {
        height: 400px;
      }
    }
  }
}

.how-block {
  @media (min-width: 40em) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    // flex-wrap: wrap;
  }
  &-img {
    min-width: 42.5vw;
    height: 50em;
    background-image: url(../images/afbeelding-hoewerkthet.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @media (min-width: 40em) {
      height: 70em;
    }
    img {
      //   width: 100%;
    }
  }
  &-text {
    padding: 0 5vw;
    @media (min-width: 40em) {
      padding-right: 10vw;
    }
    a {
      margin-top: 2rem;
    }
    #spacing {
      margin-bottom: 3rem;
    }
  }

  .blue-grotesk {
    color: #6ec5ed !important;
    font-family: "Space Grotesk";
    font-weight: 500;
    font-size: 2rem;
  }
}
.black-grostesk {
  color: #181818 !important;
  font-family: "Space Grotesk";
  font-weight: 700;
  font-size: clamp(4rem, 5vw, 5.5rem);
  margin-bottom: 2rem;
}
.white-grostesk {
  color: #fff !important;
  font-family: "Space Grotesk";
  font-weight: 700;
  font-size: clamp(4rem, 5vw, 5.2rem);
  margin-bottom: 2rem;
}
.black-karla {
  color: #181818 !important;
  font-family: "Karla";
  font-weight: 500;
  font-size: 1.5rem;
  &-light {
    font-weight: 400;
  }
  &-bold {
    font-weight: 700;
  }
}

.white-karla {
  color: #fff !important;
  font-family: "Karla";
  font-weight: 500;
  font-size: 1.5rem;
  &-bold {
    font-weight: 700;
  }
}
.orange-grostesk {
  color: #ea5b3f !important;
  font-family: "Space Grotesk";
  font-weight: 600;
  font-size: 2.2rem;
}
.orange-title {
  color: #ea5b3f !important;
  font-family: "Space Grotesk";
  font-weight: 500;
  font-size: clamp(1.8rem, 3vw, 2rem);
}

.research-block {
  margin-top: 3rem;
  margin-bottom: 6rem;
  &-container {
    background-color: #6ec5ed;
    padding-top: 4rem;
    // padding-inline: 5vw;
    max-width: 100vw;
    min-height: 40rem;
    h2 {
      color: #ffffff;
      font-family: "Space Grotesk";
      font-weight: 700;
      font-size: 4.8rem;
    }
    p {
      color: #ffffff;
      font-family: "Space Grotesk";
      font-weight: 700;
      font-size: 1.5rem;
    }
  }
  .center {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &-more {
    margin-top: 2rem;
    margin-bottom: 6rem;
    @media (min-width: 40em) {
      margin-bottom: 10rem;
    }
  }
}

.about-block {
  margin-bottom: 2rem;
  @media (min-width: 40em) {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  * {
    @media (min-width: 40em) {
      flex-basis: 50%;
    }
  }
  //   margin-top: 4rem;
  &-text {
    padding-left: 5vw;
    padding-right: 5vw;
    .spacing {
      margin-top: 1.5rem;
      margin-bottom: 2rem;
      @media (min-width: 40em) {
        margin-bottom: 3rem;
      }
    }
    .bgline-3 {
      background-image: url(../images/streep-bureauprofiel.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-img {
    // width: 45%;
    // min-width: 100%;
    min-height: 450px;
    background-image: url(../images/overbureauprofiel.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    img {
      //   width: 700px;
    }
  }
  ul {
    margin-top: 2rem;
    list-style: none;
    li {
      position: relative;
      margin-bottom: 0.9rem;
      margin-left: 2rem;
      color: #181818;
      font-family: "Karla";
      font-weight: 700;
      font-size: 1.5rem;

      &::before {
        content: " ";
        position: absolute;
        left: -1.5rem;
        top: 0.6rem;
        background-image: url(../images/bulletpoint-yellow.svg);
        background-size: 100% 100%;
        height: 1rem;
        width: 1rem;
      }
    }
  }
}

.review-block {
  height: 600px;
  background-color: red;
}

.company-block {
  color: #fff;
  @media (min-width: 40em) {
    display: flex;
  }
  &-text {
    background-color: #6ec5ed;
    padding: 5rem 2vw 5rem 5vw;
    @media (min-width: 40em) {
      max-width: 50vw;
      z-index: 99;
    }
    .spacing {
      margin-top: 1.5rem;
      margin-bottom: 2rem;
      @media (min-width: 40em) {
        margin-bottom: 3rem;
      }
    }
    p {
    }
    ul {
      margin-top: 2rem;
      list-style: none;
      li {
        position: relative;
        // margin-bottom: 1.5rem;
        margin-left: 2rem;
        font-family: "Karla";
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 0.9rem;

        &::before {
          content: " ";
          position: absolute;
          left: -1.5rem;
          top: 0.6rem;
          background-image: url(../images/bulletpoint-orange.svg);
          background-size: 100% 100%;
          height: 1rem;
          width: 1rem;
        }
      }
    }
  }
  &-img {
    @media (min-width: 40em) {
      margin-left: -30%;
      margin-top: -8%;
      margin-bottom: 8%;
    }
    background-image: url(../images/afbeelding-bedrijven.png);
    background-size: 100% 100%;
    min-height: 300px;
    width: 100%;
  }
}
footer {
  margin-top: 2rem;
  .orange-title {
    margin-top: 4rem;
  }
  .footer-container {
    &-top {
      padding: 5vh 5vw;
      background-color: #e1e0e0;
      &-wrapper {
        @media (min-width: 40em) {
          display: flex;
          justify-content: space-around;
        }
      }
      .footer {
        &-page {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
        }
        &-moa {
          img {
          }
        }
        &-contact {
          // @media (min-width: 40em) {
          //   margin-left: auto;
          // }
          &-nmmr {
            margin: 0;
            margin-left: 2rem;
            position: relative;
            &::before {
              content: " ";
              position: absolute;
              left: -2rem;
              top: 0.3rem;
              background-image: url(../images/phone-orange.svg);
              background-size: 100% 100%;
              height: 1rem;
              width: 1rem;
            }
          }
          &-mail {
            margin-left: 2rem;
            position: relative;
            &::before {
              content: " ";
              position: absolute;
              left: -2rem;
              top: 0.3rem;
              background-image: url(../images/mail-orange.svg);
              background-size: 100% 100%;
              height: 1rem;
              width: 1rem;
            }
          }
          &-open {
          }
        }
        &-logo {
          margin-top: 4rem;
          &-inner {
            text-align: center;
            img {
              margin-bottom: 2rem;
            }
          }
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
    &-bot {
      width: 100%;
      text-align: center;
      // background-color: pink;
      a {
        &::after {
          content: "|";
          margin-inline: 0.5rem;
        }
      }
      a:nth-last-of-type(1) {
        &::after {
          content: "";
        }
      }
      // &:not(:last-child) {
      //   background-color: pink;
      //   // gvd wrm werkt deze zooi niet
      // }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
}
@media (min-width: 769px) and (max-width: 1024px) {
}
@media (min-width: 481px) and (max-width: 768px) {
}
@media (min-width: 0px) and (max-width: 480px) {
}
