.intro-block {
  position: relative;
  height: 75rem;
  padding: 5rem 7vw;
}

@media (min-width: 40em) {
  .intro-block {
    background-color: #ece9e958;
    padding: 10rem 7vw;
  }
}

.intro-block-text {
  width: 100%;
  max-width: 69rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 99;
}

.intro-block-text h2 {
  font-family: "Space Grotesk", sans-serif;
  font-size: clamp(5rem, 5vw, 9.5rem);
  font-weight: 500;
}

@media (min-width: 40em) {
  .intro-block-text h2 {
    margin-bottom: 1.5rem;
  }
}

.intro-block-text h2 span {
  font-weight: 700;
}

.intro-block-text h2 .bgline-1 {
  background-image: url(../images/streep-mening.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.intro-block-text h2 .bgline-2 {
  background-image: url(../images/streep-cash.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.intro-block-text h3 {
  font-family: "Karla";
  font-weight: 700;
  font-size: 3.2rem;
  font-size: clamp(2rem, 5vw, 3.2rem);
  color: #6ec5ed;
  margin-bottom: 2rem;
}

@media (min-width: 40em) {
  .intro-block-text h3 {
    margin-bottom: 4.5rem;
  }
}

.intro-block-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.intro-block-points p {
  font-family: "Karla";
  font-weight: 500;
  font-size: 1.8rem;
  position: relative;
  margin-left: 3.5rem;
}

@media (min-width: 40em) {
  .intro-block-points p {
    margin-bottom: 0 !important;
    width: calc(100% / 2 - 3.5rem);
  }
}

.intro-block-points p::before {
  content: " ";
  position: absolute;
  left: -3rem;
  top: 0.9rem;
  background-image: url(../images/bulletpoint-black.svg);
  background-size: 100% 100%;
  height: 1rem;
  width: 1rem;
}

.intro-block-buttons {
  margin-top: 2rem;
}

@media (min-width: 40em) {
  .intro-block-buttons {
    margin-top: 6rem;
  }
}

.intro-block-buttons button {
  background-color: #ea5b3f;
  font-size: 2.5rem;
  color: #fff;
  border: none;
  width: 32.5rem;
  height: 4rem;
  font-family: "Space Grotesk";
}

.intro-block-buttons a {
  color: #ea5b3f !important;
  font-family: "Space Grotesk";
  font-weight: 600;
  font-size: 2.5rem;
}

@media (min-width: 40em) {
  .intro-block-buttons a {
    margin-top: 1rem;
    margin-left: 5rem;
  }
}

.intro-block-girl {
  width: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: -5rem;
}

@media (min-width: 40em) {
  .intro-block-girl {
    bottom: unset;
    top: -7rem;
  }
}

.intro-block-girl img {
  margin-left: 40%;
  max-height: 950px;
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .intro-block-girl img {
    height: 900px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .intro-block-girl img {
    height: 700px;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .intro-block-girl img {
    height: 400px;
  }
}

@media (min-width: 40em) {
  .how-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.how-block-img {
  min-width: 42.5vw;
  height: 50em;
  background-image: url(../images/afbeelding-hoewerkthet.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 40em) {
  .how-block-img {
    height: 70em;
  }
}

.how-block-text {
  padding-left: 7vw;
  padding-right: 10vw;
}

.how-block-text a {
  margin-top: 2rem;
}

.how-block-text #spacing {
  margin-bottom: 3rem;
}

.how-block .blue-grotesk {
  color: #6ec5ed !important;
  font-family: "Space Grotesk";
  font-weight: 500;
  font-size: 2rem;
}

.black-grostesk {
  color: #181818 !important;
  font-family: "Space Grotesk";
  font-weight: 700;
  font-size: clamp(4rem, 5vw, 5.5rem);
  margin-bottom: 2rem;
}

.white-grostesk {
  color: #fff !important;
  font-family: "Space Grotesk";
  font-weight: 700;
  font-size: clamp(4rem, 5vw, 5.2rem);
  margin-bottom: 2rem;
}

.black-karla {
  color: #181818 !important;
  font-family: "Karla";
  font-weight: 500;
  font-size: 1.5rem;
}

.black-karla-bold {
  font-weight: 700;
}

.white-karla {
  color: #fff !important;
  font-family: "Karla";
  font-weight: 500;
  font-size: 1.5rem;
}

.white-karla-bold {
  font-weight: 700;
}

.orange-grostesk {
  color: #ea5b3f !important;
  font-family: "Space Grotesk";
  font-weight: 600;
  font-size: 2.2rem;
}

.orange-title {
  color: #ea5b3f !important;
  font-family: "Space Grotesk";
  font-weight: 500;
  font-size: 2rem;
}

.research-block {
  margin-top: 3rem;
}

.research-block-container {
  background-color: #6ec5ed;
  padding-top: 4rem;
  max-width: 100vw;
  min-height: 40rem;
}

.research-block-container h2 {
  color: #ffffff;
  font-family: "Space Grotesk";
  font-weight: 700;
  font-size: 4.8rem;
}

.research-block-container p {
  color: #ffffff;
  font-family: "Space Grotesk";
  font-weight: 700;
  font-size: 1.5rem;
}

.research-block .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.research-block-more {
  margin-top: 2rem;
  margin-bottom: 6rem;
}

@media (min-width: 40em) {
  .research-block-more {
    margin-bottom: 10rem;
  }
}

@media (min-width: 40em) {
  .about-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 40em) {
  .about-block * {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.about-block-text {
  padding-left: 7vw;
  padding-right: 5vw;
}

.about-block-text .spacing {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

@media (min-width: 40em) {
  .about-block-text .spacing {
    margin-bottom: 3rem;
  }
}

.about-block-text .bgline-3 {
  background-image: url(../images/streep-bureauprofiel.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.about-block-img {
  min-height: 450px;
  background-image: url(../images/overbureauprofiel.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-block ul {
  margin-top: 2rem;
  list-style: none;
}

.about-block ul li {
  position: relative;
  margin-bottom: 0.9rem;
  margin-left: 2rem;
  color: #181818;
  font-family: "Karla";
  font-weight: 700;
  font-size: 1.5rem;
}

.about-block ul li::before {
  content: " ";
  position: absolute;
  left: -1.5rem;
  top: 0.6rem;
  background-image: url(../images/bulletpoint-yellow.svg);
  background-size: 100% 100%;
  height: 1rem;
  width: 1rem;
}

.company-block {
  color: #fff;
}

@media (min-width: 40em) {
  .company-block {
    max-width: 50vw;
  }
}

.company-block-text {
  background-color: #6ec5ed;
  padding: 5rem 2vw 5rem 7vw;
}

.company-block-text .spacing {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

@media (min-width: 40em) {
  .company-block-text .spacing {
    margin-bottom: 3rem;
  }
}

.company-block-text ul {
  margin-top: 2rem;
  list-style: none;
}

.company-block-text ul li {
  position: relative;
  margin-left: 2rem;
  font-family: "Karla";
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.9rem;
}

.company-block-text ul li::before {
  content: " ";
  position: absolute;
  left: -1.5rem;
  top: 0.6rem;
  background-image: url(../images/bulletpoint-orange.svg);
  background-size: 100% 100%;
  height: 1rem;
  width: 1rem;
}

.company-block-img {
  background-image: url(../images/afbeelding-bedrijven.png);
  background-size: 100% 100%;
  min-height: 300px;
  width: 100%;
}
/*# sourceMappingURL=home.css.map */