.register {
  display: none;
  position: fixed;

  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  background: rgba(115, 115, 115, 0.25);

  z-index: 1000;
}

.register-form {
  width: 100%;
  height: 90vh;
  max-width: 871px;
  background: #ece9e9;
  margin: 5vh auto 0;
  overflow-y: scroll;
  padding: 50px 130px 50px 70px;
  position: relative;
}

.register-title h3 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 0;
}

.register-title p {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: #ea5b3f;
  margin-top: 0;
}

.register-progress {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  margin-top: 1.7rem;
}

.register-progress .count {
  background: #6ec5ed;
  border-radius: 50%;
  border: 4px solid #6ec5ed;
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 50%;
  border: 4px solid #6ec5ed;
  color: #6ec5ed;
  text-align: center;
  font-size: 21px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  align-content: center;
}

.register-progress .count span {
  width: 100%;
  text-align: center;
  font-size: 21px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  color: white;
  width: 100%;
}

.register-progress .line {
  width: 20px;
  background: #6ec5ed;
  height: 4px;
  margin-top: 18px;
}

.register-questions-page {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.register-page {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.register-question {
  width: 50%;
  padding-right: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.register-question * {
  display: block;
  width: 100%;
}

.register-question p,
.register-question input {
  margin: 0;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.register-question p {
  font-weight: 600;
  margin-top: 1.8rem;
  margin-bottom: 0.7rem;
}

.register-question input {
  padding: 10px;
  border: 0;
  background: #ffffff;
  outline: none;
  height: 48px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2.5rem;
}

.register-gender,
.register-worked {
  background: #ffffff;
  height: 48px;
  padding-left: 10px;
}
.register-onechoice {
  background: #ffffff;
  height: 48px;
  padding-left: 10px;
}

.register-choice {
  display: inline-flex;
  align-content: center;
  align-items: center;
  width: fit-content;
  margin-right: 0;
}

.register-choice label {
  margin-bottom: 0;
}

.register-choice * {
  width: unset;
  display: inline-block;
}

.register-submit, .register-prev {
  background: #ea5b3f;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  border: 0;
  outline: none;
  margin-top: 30px;
  padding: 0.7rem 2.8rem;
  font-size: 15px;
}

.register-close {
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 20px;
  right: 15px;
  top: 15px;
  background: transparent;
  border: 0;
  outline: 0 !important;
  cursor: pointer;
}

.register-close svg {
  fill: black;
  width: 100%;
}

@media only screen and (max-width: 871px) {
  .register-form {
    max-height: 100vh;
    height: auto;
    min-height: 100vh;
    margin: 0;
    overflow: scroll;
    padding: 20px;
    top: 0;
  }

  .register-title {
    margin-top: 50px;
  }

  .register-question {
    flex: 100%;
  }
}
