{% extends '/admin/dashboard.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block main %}

    {% if question.id is not null %}
        <h2>Vraag {{ question.question }}</h2>
    {% else %}
        <h2>Maak een nieuwe vraag</h2>
    {% endif %}

    {{ form(form) }}

    {% if question.id is not null %}
        <button class="btn btn-danger" id="delete-question">
            Verwijder
        </button>

        <script>
            document.getElementById('delete-question').addEventListener('click', () => {
                fetch('{{ url('app_admin_question_delete', { 'id': question.id }) }}', {
                    method: 'POST'
                }).then(() => {
                    window.location = '{{ path('app_admin_questions') }}';
                });
            });
        </script>
    {% endif %}

    <div style="margin-bottom: 150px;"></div>

{% endblock %}